{{#alias}}
location = /{{alias}} {
    rewrite ^/(.*)$ $1/ permanent;
}
location ^~ /{{alias}}/ {
    rewrite ^/{{alias}}/(.+)$ /$1 break;
    root {{root}}{{^root}}/usr/syno/synoman{{/root}};
    index {{index}}{{^index}}index.html{{/index}};
    location = /{{alias}}/ {
        try_files $uri /{{alias}}/{{index}}{{^index}}index.html{{/index}}$is_args$query_string;
    }
    include app.d/{{include}};
}
{{/alias}}
