{{#DSM}}
<service-group>
<name>{{AVA.DSMHostName}}</name>
<service>
<type>_http._tcp</type>
<port>{{DSM.port}}</port>
<txt-record>vendor=Synology</txt-record>
<txt-record>model={{AVA.DSMModel}}</txt-record>
<txt-record>serial={{AVA.SynoSerial}}</txt-record>
<txt-record>version_major={{AVA.DSMMajorVersion}}</txt-record>
<txt-record>version_minor={{AVA.DSMMinorVersion}}</txt-record>
<txt-record>version_build={{AVA.DSMBuildNumber}}</txt-record>
<txt-record>admin_port={{DSM.port}}</txt-record>
<txt-record>secure_admin_port={{DSM.ssl.port}}</txt-record>
<txt-record>mac_address={{AVA.AllMacAddr}}</txt-record>
</service>
</service-group>
{{/DSM}}
