location ~ ^/webman/modules/Indexer/ {
    deny all;
}

location ~ ^/webapi/lib/ {
    deny all;
}

location ~ ^/webapi/(:?(:?.*)\.lib|(:?.*)\.api|(:?.*)\.auth|lib.def)$ {
    deny all;
}

location ~ /\. { access_log off; log_not_found off; deny all; }
