{{#sections}}
[{{section}}]
title="{{title}}"{{#title_key}}
title_key="{{title_key}}"{{/title_key}}
dst.ports="{{port}}/{{protocol}}"
port_forward="yes"
desc="{{desc}}"{{#desc_key}}
desc_key="{{desc_key}}"{{/desc_key}}{{#desc_extra}}
desc_extra="{{desc_extra}}"{{/desc_extra}}
{{/sections}}
