location ~* \.(?:js|css|png|jpg|gif|ico)$ {
    access_log off;
    log_not_found off;
}

location = /favicon.ico {
    access_log off;
    log_not_found off;
}

location = /robots.txt {
    allow all;
    access_log off;
    log_not_found off;
}
