{{#alternativePort}}
{{#alternativePort.http}}
server {
    listen {{alternativePort.http}} default_server{{#reuseport}} reuseport{{/reuseport}};
    listen [::]:{{alternativePort.http}} default_server{{#reuseport}} reuseport{{/reuseport}};

    server_name _;

    gzip on;

    {{#index}}
    index {{index}};
    {{/index}}
    {{#root}}
    root {{root}};
    {{/root}}

    {{> /usr/syno/share/nginx/error_page}}
    {{#x-accel}}
    {{> /usr/syno/share/nginx/X-Accel}}
    {{/x-accel}}

    include app.d/{{include}};
}
{{/alternativePort.http}}
{{#alternativePort.https}}
server {
    listen {{alternativePort.https}} default_server ssl{{#reuseport}} reuseport{{/reuseport}};
    listen [::]:{{alternativePort.https}} default_server ssl{{#reuseport}} reuseport{{/reuseport}};

    server_name _;

    {{#DSM.https.compression}}
    gzip on;
    {{/DSM.https.compression}}
    {{#index}}
    index {{index}};
    {{/index}}
    {{#root}}
    root {{root}};
    {{/root}}

    {{> /usr/syno/share/nginx/error_page}}
    {{#x-accel}}
    {{> /usr/syno/share/nginx/X-Accel}}
    {{/x-accel}}

    include app.d/{{include}};
}
{{/alternativePort.https}}
{{/alternativePort}}
{{#fqdn}}
server {
    listen 80{{#reuseport}} reuseport{{/reuseport}};
    listen [::]:80{{#reuseport}} reuseport{{/reuseport}};

    server_name {{server_name}};
    set $fqdn {{fqdn}};

    {{#index}}
    index {{index}};
    {{/index}}
    {{#root}}
    root {{root}};
    {{/root}}

    {{> /usr/syno/share/nginx/LetsEncrypt}}
    {{#https.hsts}}
    location / {
        return 301 https://$server_name$request_uri;
    }
    {{/https.hsts}}
    {{^https.hsts}}
    gzip on;

    {{> /usr/syno/share/nginx/error_page}}
    {{#x-accel}}
    {{> /usr/syno/share/nginx/X-Accel}}
    {{/x-accel}}

    include app.d/{{include}};
    {{/https.hsts}}
}

server {
    listen 443 ssl{{#https.http2}} http2{{/https.http2}}{{#reuseport}} reuseport{{/reuseport}};
    listen [::]:443 ssl{{#https.http2}} http2{{/https.http2}}{{#reuseport}} reuseport{{/reuseport}};

    server_name {{server_name}};
    set $fqdn {{fqdn}};

    {{#https.certificate}}
    ssl_certificate {{https.certificate}};
    {{/https.certificate}}
    {{#https.key}}
    ssl_certificate_key {{https.key}};
    {{/https.key}}

    {{#DSM.https.compression}}
    gzip on;
    {{/DSM.https.compression}}
    {{#index}}
    index {{index}};
    {{/index}}
    {{#root}}
    root {{root}};
    {{/root}}

    {{> /usr/syno/share/nginx/LetsEncrypt}}
    {{> /usr/syno/share/nginx/error_page}}
    {{#x-accel}}
    {{> /usr/syno/share/nginx/X-Accel}}
    {{/x-accel}}

    {{#https.hsts}}
    {{> /usr/syno/share/nginx/HSTS}}
    {{/https.hsts}}

    include app.d/{{include}};
}
{{/fqdn}}
